# A .gitignore file is used in Git projects to tell Git which files or folders it should ignore (not track in version control). This is especially useful for things like:
# Temporary files (*.log, *.tmp)
# Build artifacts (/dist, /build)
# Virtual environments (venv/, .venv/)
# Sensitive files (.env, API keys, credentials)
# OS‑specific junk (.DS_Store, Thumbs.db)

# In this we write those files and folders which we don't want to push on github generally.


.env
.env.*
!.env.example


.vscode     
# it stores temporary files of vscode


*.pyc      
# it store all the runtime cache files of python, so we don't need to push this on github

.DS_Store    
# it is for mac users

__pycache__/    
# here / means folder i.e __pycache__ folder

*.py[cod]
.pytest_cache/

venv/

secrets.toml  
# all the environment variable of streamlit are not kept in .env file but kept in a secret file called as 'secrets.toml' inside this .streamlit folder
# So here we are ignoring that secrets.toml file which is a secret file and we don't want to push it on github

dist/

# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl



# Streamlit generates runtime logs here. They're large and change every run—no need to commit.
.streamlit/logs/


# Jupyter automatically creates these checkpoint folders in jupyter notebooks/. They're regenerated automatically.
.ipynb_checkpoints/


# These are error logs that change every run.
*.err.log

# These are output logs that shouldn't be committed.
*.out.log


upload_model.py


# Ignore local fine-tuned model folder
ml_model/

